.avatarFrame {
    max-width: 185px;
    max-height: 185px;
    border: 2px solid #de004e;
    border-radius: 0.5rem;

    img {
        width: -webkit-fill-available;
        border-radius: 0.5rem;
    }
}