.title {
    color: #fff;
}

.item {
    background: #ffffff12;
    border-radius: 0.5rem;


    .cardBody {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .name {
            height: 2rem;
            font-size: 0.875rem;
            color: #fff;
        }

        .description {
            height: 35px;
            font-size: 0.75rem;
            color: #ccc;
        }

        .tools {
            height: 40px;
            font-size: 0.625rem;
            color: #ccc;
        }

    }

    .link {
        font-weight: 600;
        color: #de004e;

        img {
            height: 1rem;
        }
    }

}