.skillsSection {
    background: #000;

    h3 {
        color: #fff;

        &::before {
            content: "";
            width: 25%;
            position: relative;
            display: block;
            top: 1rem;
            border-top: 1px solid #de004e;
        }

        &::after {
            content: "";
            width: 25%;
            position: absolute;
            right: 0;
            display: block;
            border-top: 1px solid #de004e;
            transform: translateY(-13px);
        }
    }

    .skillsSwiper {
        color: #de004e;
        font-weight: 700;

        img {
            height: 2rem;
        }
    }
}