.header {
    background: #000;
    color: #fff;
    overflow: hidden;

    a {
        color: #ffffffd4;
    }

    .logo {
        div {
            color: #de004e;
            font-size: 1.5rem;
        }
    }

}

.hamburgerContainer {
    z-index: 99;
}